.contact {
  background-color: rgba(87, 70, 62, 1);
  position: initial;
  height: 400px;
}
.contactTekst {
  width: 50%;
  float: left;
  padding: 20px 0px;
  text-align: center;
}
tbody tr td:nth-child(1) {
  float: left;
}
tbody tr td:nth-child(2) {
  padding-left: 10px;
}
.contactKaart {
  position: relative;
  width: 50%;
  height: 400px;
  float: right;
}
