/* Coolors Exported Palette - coolors.co/cda896-57463e-6d554d-cf9c81-be9e8f */

/* HSL */
$color1: hsla(20%, 35%, 70%, 1);
$color2: hsla(19%, 17%, 29%, 1);
$color3: hsla(15%, 17%, 36%, 1);
$color4: hsla(21%, 45%, 66%, 1);
$color5: hsla(19%, 27%, 65%, 1);

/* RGB */
$color1: rgba(205, 168, 150, 1);
$color2: rgba(87, 70, 62, 1);
$color3: rgba(109, 85, 77, 1);
$color4: rgba(207, 156, 129, 1);
$color5: rgba(190, 158, 143, 1);